@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font1: "Open Sans", sans-serif;
  --color1: #0060b1;
  --color2: #ff6500;
  --color3: #e35214;
  --color4: #ccdfef;
  --color5: #e2edf7;
  --dark-font-color: #44484f;
  --light-font-color: #7f858d;
}

body {
  height: 100vh;
  font-family: var(--font1);
  background-image: linear-gradient(to bottom, var(--color4), var(--color5));
}

nav {
  display: flex;
  justify-content: center;
  background-color: var(--color2);
  text-transform: uppercase;
  font-size: 0.8em;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.411);
}

.nav-link {
  padding: 0.3rem 2rem;
  border-left: 1px solid rgba(255, 255, 255, 0.212);
}

.nav-link:hover {
  background-color: var(--color3);
  transition-duration: 200ms;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a:hover {
  text-decoration: underline;
  transition-duration: 200ms;
}

.search-bar {
  display: flex;
  height: 7rem;
  width: 100vw;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  background: var(--color1);
  color: var(--color4);
}

.img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 20%;
}

.logo {
  height: 100px;
}

.search-input {
  flex-basis: 35%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 0px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}

.search-input:hover {
  transform: translate(-1px, -1px);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.418);
  transition-duration: 350ms;
}

.search-input:focus {
  outline: 0px;
}

.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
  flex-basis: 9%;
}

.sign-up i {
  padding-right: 1rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
}

.icons {
  display: flex;
  justify-content: space-around;
  flex-basis: 10%;
}

.icons i {
  cursor: pointer;
  font-size: 1.2em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
}

.promo-semana {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  margin: 2rem auto;
}

.promo-semana header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color2);
  color: white;
  padding: 1rem 2rem 1rem 1rem;
}

.container-products {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
}

.product {
  background: white;
  border-radius: 8px;
  padding: 1rem;
}

.product i {
  font-size: 1.2em;
  margin: 0.5rem;
}

.product i:hover {
  font-weight: 900;
  color: tomato;
  transition-duration: 250ms;
}

.product img {
  margin-top: 1rem;
}

.info-produto {
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
}

.porcento-desconto {
  background-color: var(--color2);
  border-radius: 5px;
  padding: 0.2rem;
  color: white;
}

.estoque {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--color2);
  border: 1px solid var(--color3);
  border-radius: 5px;
  padding: 0.2rem;
}

.nome-produto {
  color: var(--dark-font-color);
  font-weight: bold;
}

.preco-riscado {
  color: var(--light-font-color);
  text-decoration: line-through;
  font-size: 0.8em;
}

.preco-promo {
  color: var(--color2);
  font-weight: bolder;
  font-size: 1.5em;
}

.metodo-desconto {
  color: var(--light-font-color);
  font-size: 0.9em;
}
